#login-background-1 { background-image: url('/assets/backgrounds/bolvar.jpg'); }
#login-background-2 { background-image: url('/assets/backgrounds/bolvar-lost.jpg'); }
#login-background-3 { background-image: url('/assets/backgrounds/shattered-sky.jpg'); }
#login-background-4 { background-image: url('/assets/backgrounds/stormwind.jpg'); }
#login-background-5 { background-image: url('/assets/backgrounds/sylvanas.jpg'); }

.bg-primary {
	background-color: $ironfist-blue !important;
}